.headerDiv {
  background-color: #272727;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: roboto;
  font-size: medium;
}
.spanDiv span {
  margin: 20px;
  font-weight: bold;
  color: #ffffff;
}
.spanDiv a {
  text-decoration: none;
  flex-basis: 400px;
}

.headerDiv button {
  background-color: #4f46e5;
  padding: 6px 20px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
}
.headerDiv button:hover {
  background-color: #6366f1;
}
.headerDiv h2 {
  color: #ffffff;
}
.appLogo {
  cursor: pointer;
}

.addHighlight {
  border: 1px solid #ffffff;
}
