li:hover {
  cursor: pointer;
}

.page-link {
  background: #272727;
  color: #ffffff;
}
.active > .page-link,
.page-link.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #272727;
  font-weight: bold;
}
.page-link:hover {
  background-color: #7e858e;
  color: #ffffff;
}

.disabled > .page-link,
.page-link.disabled {
  background-color: #272727;
  color: #7e858e;
}

#prevNext {
  font-weight: bolder;
}
